*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
    text-decoration: none;
}

.darkBlue{
    color: #08137B;
}

.center{
    margin: 0 auto;
}

.order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.order-form input{
    display: block;
    margin-top: .75rem;
    padding: .75rem;
    border: 2px solid gray;
    border-radius: .25rem;
    width: 18.75rem;
}

.error{
    color: red;
}

.input-field {
    border: none;
    padding: 10px;
    width: 50%;
    border-bottom: 1px solid darkgray;
    margin-top: 10px;
    outline: none;
  }
  .input-field:hover {
    border-bottom: 1px solid rgb(13, 113, 228);
  }

  .dashboard {
    height: 100vh;
    width: 100%;
    color: black;
    cursor: pointer;
  }
  .dashboard-menu {
    text-decoration: none;
    list-style: none;
  }